{% extends "blog/base.html" %}
{% block content %}



<br>
<h2 id="casos"  style="text-align:center;">Istanbul: Covid Studies around the World</h2>
<h2 id="casos" style="text-align:center;">See what other researchers are doing</h2>
<br>
<h6 id="leyenda">Yellow: Positive Trial = True, False Trial</h6>
<br>
<h4 id="leyenda">Updated at {% now "SHORT_DATETIME_FORMAT" %}</h4>
<h6 id="leyenda">Información de Secretaría de Salud Colima</h6>
<div id='map' style='width: 1120px; height: 600px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY3JvYmxlczE4OTYiLCJhIjoiY2s3eWF0b3I4MDRyMTNvcXIxOGc5ZWl3cyJ9.CRvm3fO7Cb3ZOXdUU_zOqg';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/navigation-preview-night-v4',
     center: [-104, 19.166667],
     zoom: 9
});

map.on('load', function() {
// Add a new source from our GeoJSON data and
// set the 'cluster' option to true. GL-JS will
// add the point_count property to your source data.
map.addSource('earthquakes', {
type: 'geojson',
// Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
// from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
data: {
    "type": "FeatureCollection",
    "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
    "features": [
    { "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000029606", "time": 1507425650893, "felt": null, "status": 1 }, "geometry": { "type": "Point", "coordinates": [  3.082072284052864, 48.35910656839326, 0.0 ] } },
	{ "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000029603", "time": 1507425650893, "felt": null, "status": 0 }, "geometry": { "type": "Point", "coordinates": [ 10.482218913666438, 50.94807041231547 , 0.0 ] } },
	{ "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000029606", "time": 1507425650893, "felt": null, "status": 0 }, "geometry": { "type": "Point", "coordinates": [ 69.64151135321707, 50.466372877803906, 0.0 ] } },
	{ "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000029601", "time": 1507425650893, "felt": null, "status": 1 }, "geometry": { "type": "Point", "coordinates": [ 133.27432464587952, -25.39099884593624, 0.0 ] } },
	{ "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000029468", "time": 1507425650893, "felt": null, "status": 0 }, "geometry": { "type": "Point", "coordinates": [ -67.64363186070102, -42.478026697663395 , 0.0 ] } },
	{ "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000029462", "time": 1507425650893, "felt": null, "status": 0 }, "geometry": { "type": "Point", "coordinates": [ 101.98526405255377, 48.52583147533595, 0.0 ] } },
	{ "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000029460", "time": 1507425650893, "felt": null, "status": 0 }, "geometry": { "type": "Point", "coordinates": [ -103.759299, 19.325808, 0.0 ] } },
	{ "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000029438", "time": 1507425650893, "felt": null, "status": 1 }, "geometry": { "type": "Point", "coordinates": [ -103.581849, 19.338543, 0.0 ] } },
	{ "type": "Feature", "properties": { "id": "ak16994521", "mag": "ChiCTR2000030170", "time": 1507425650893, "felt": null, "status": 1 }, "geometry": { "type": "Point", "coordinates": [ -103.69804, 19.235232, 0.0 ] } }
    ]
},
cluster: true,
clusterMaxZoom: 5, // Max zoom to cluster points on
clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
});


map.addLayer({
id: 'clusters',
type: 'circle',
source: 'earthquakes',
filter: ['has', 'point_count'],
paint: {
// Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
// with three steps to implement three types of circles:
//   * Blue, 20px circles when point count is less than 100
//   * Yellow, 30px circles when point count is between 100 and 750
//   * Pink, 40px circles when point count is greater than or equal to 750
'circle-color': [
'step',
['get', 'point_count'],
'#51bbd6',
100,
'#f1f075',
750,
'#f28cb1'
],
'circle-radius': [
'step',
['get', 'point_count'],
20,
40,
100,
750,
40
]
}
});

map.addLayer({
id: 'cluster-count',
type: 'symbol',
source: 'earthquakes',
filter: ['has', 'point_count'],
layout: {
'text-field': '{point_count_abbreviated}',
'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
'text-size': 44
}
});

var color;
/*
if (data.features[0].properties.status === 1) {
color = '#F7943E'
} else {
color = '#E0084B'
}
*/
map.addLayer({

id: 'unclustered-point',
type: 'circle',
source: 'earthquakes',
filter: ['!', ['has', 'point_count']],
paint: {
'circle-color': {
              property: 'status', // this will be your density property form you geojson
              stops: [
                [0, '#F7943E'],
                [1, '#E0084B'],
              ]
            },
'circle-radius': 25,
'circle-stroke-width': 1,
'circle-stroke-color': '#fff'
}
});

// inspect a cluster on click
map.on('click', 'clusters', function(e) {
var features = map.queryRenderedFeatures(e.point, {
layers: ['clusters']
});
var clusterId = features[0].properties.cluster_id;
map.getSource('earthquakes').getClusterExpansionZoom(
clusterId,
function(err, zoom) {
if (err) return;

map.easeTo({
center: features[0].geometry.coordinates,
zoom: zoom
});
}
);
});

// When a click event occurs on a feature in
// the unclustered-point layer, open a popup at
// the location of the feature, with
// description HTML from its properties.
map.on('click', 'unclustered-point', function(e) {

var coordinates = e.features[0].geometry.coordinates.slice();
console.log(e.features[0]);
var mag = e.features[0].properties.mag;
var status;

//Conditionals of parameters of the map regarding the output of the trial

if (e.features[0].properties.status === 1) {
status = 'Negative'
} else {
status = 'Positive'
}





// Ensure that if the map is zoomed out such that
// multiple copies of the feature are visible, the
// popup appears over the copy being pointed to.
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}

new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML("Trial ID: " + mag + "<br>Trial output: " + status)
.addTo(map);
});

map.on('mouseenter', 'clusters', function() {
map.getCanvas().style.cursor = 'pointer';
});
map.on('mouseleave', 'clusters', function() {
map.getCanvas().style.cursor = '';
});
});



</script>

<br>
<h1>What is happening in the scientific community?</h1>
    {% for post in posts %}
      <div class="jumbotron mt-3 bg-white shadow-lg">
      <article class="media content-section shadow">
        <a href="{{ post.author.profile.image.url }} " target="_blank"> <img src="{{ post.author.profile.image.url }}  " alt="" class="article-img rounded-circle img-thumbnail img-fluid shadow">
        </a>
        <div class="media-body">
          <div class="article-metadata d-flex justify-content-between">
            <a class="mr-2 " href="{% url 'user-posts' post.author.username  %}"><h3>{{ post.author }}</h3></a>
              <small class="text-muted">{{ post.date_upload|date:"F d, Y" }}</small>
          </div>
          {% if post.file %}
          <a href="{{ post.file.url }}"  download class="text-dark text-justify "><h5>{{ post.blog }}</h5></a>
          {% endif %}



          <h2><a class="article-title text-justify " href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <div class="d-flex justify-content-between">
            <p class="article-content text-justify text-truncate overflow-hidden">{{ post.content }}</p>
            {% if post.file %}
          <div class="form-group mt-0 pt-0  m-2">
            <a class="btn btn-outline-primary  btn-d "  href="{{ post.file.url }}"  download type="submit"><i class="fas fa-download"></i></a>
          </div>
          {% endif %}

          </div>

        </div>
      </article>
      </div>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">Primero</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultimo</a>
      {% endif %}
    {% endif %}
{% endblock content %}
